.node {
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
